@using CourWork2024.Models
@model Car

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <select asp-for="ModelId" class ="form-control" >
                    @foreach (Model Model in ViewBag.ModelId)
                    {
                        <option value=@Model.Id>
                            @Model.Name
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <select asp-for="ColorId" class ="form-control" >
                    @foreach (Color color in ViewBag.ColorId)
                    {
                        <option value=@color.ID>
                            @color.Name
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BodyId" class="control-label"></label>
                <select asp-for="BodyId" class ="form-control" >
                    @foreach (BodyT body in ViewBag.BodyId)
                    {
                        <option value=@body.Id>
                            @body.Name
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="mileage" class="control-label"></label>
                <input asp-for="mileage" class="form-control" />
                <span asp-validation-for="mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FabDate" class="control-label"></label>
                <input asp-for="FabDate" class="form-control" />
                <span asp-validation-for="FabDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureId" class="control-label"></label>
                <select asp-for="PictureId" class="form-control">
                    @foreach (Picture fileName in ViewBag.PictureName)
                    {
                        <option value=@fileName.Id>
                            @fileName.ImagePath
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="GearBoxId" class="control-label"></label>
                <select asp-for="GearBoxId" class ="form-control" >
                    @foreach (GearBox gear in ViewBag.GearBoxId)
                    {
                        <option value=@gear.ID>
                            @gear.Name
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
